@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #cafdff;
}

header{
  background-color: #eadcff;
  height: calc(100vh - 70px);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row{
  width: 100%;
  max-width: 1300px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 72px;
}

.subheader{
  font-size: 36px;
  margin: 16px 0px 24px 0px;
}

button{
  background-color: #05c7cf;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 24px;
  cursor: pointer;
}

a{
  color: black;
  font-weight: 700;
  font-size: 24px;
}
.logo{
  width: 300px;
}

ul{
  display: flex;
}

li{
  list-style: none;
  padding-left: 16px;;
}

/* 

ABOUT SECTION 

*/

#about{
  padding: 48px 0px;
  background-color: #f8ffdc;
}

h2{
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}

.section__description{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__img--wrapper{
width: 40%;
padding: 0px 24px;
}

img{
width: 100%;
}

.section__description--wrapper{
  width: 60%;
  padding: 0px 24px;
}

.section__description--para{
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 24px;
}

/*

DISCORD SECTION

*/

#discord{
  background-color: #cafdff;
  padding: 48px 0px;
}

.discord__img--wrapper{
  width: 40%;
  padding: 0px 24px;
}

/*

  CONTACT SECTION

*/

#contact{
  background-color: #dce9ff;
  padding: 48px 0px;
}

form{
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  margin: 0px auto;
}

label{
  font-size: 24px;
  margin-bottom: 8px;
}

input, textarea{
  font-size: 20px;
  padding: 8px;
  margin-bottom: 24px;
  border: 2px solid #05c7cf;
  border-radius: 4px;
}

/*

FOOTER

*/

footer{
  background-color: #aaf5ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
}

.footer__logo{
  width: 480px;
  margin-bottom: 16px;
}

.footer__links{
  margin-bottom: 32px;
}

.footer__link{
  padding: 0px 16px;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width:728px){

  .row{
    flex-direction: column;
    padding-top: 70px;
  }
  
  .home__description{
    margin: 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home__description--button{
    max-width: 240px;
  }

  .home__img--wrapper{
    margin-bottom: 120px;
    width: 80%;
  }
  
  h1{
    text-align: center;
    font-size: 48px;
  }

  .subheader{
    text-align: center;
    font-size: 24px;
  }

  ul{
    display:none;
  }

  .section__description{
    flex-direction: column;
  }

  .section__description--wrapper{
    width: 100%;
  }

  .about__img--wrapper{
    width: 100%;
  }

  .discord__img--wrapper{
    width: 100%;
  }

  #discord .section__description{
    flex-direction: column-reverse;
  }

  .footer__logo{
    width: 100%;
    max-width: 360px;
  }

  .footer__link{
    padding: 0px 4px;
    font-size: 18px;
  }

  .footer__links{
    margin-bottom: 16px;
  }


}
